#!/bin/bash
key="{{ dhcp_server_key }}"
server="{{ openstack['dns_server'] }}"
zone="{{ openstack['dhcp_domain'] }}"
op="${1:-op}"
mac="${2:-mac}"
ip="${3:-ip}"
hostname="${4}"
reverse=$(echo ${3} | awk -F. '{print $4"."$3"." $2"."$1}')
reversezone=$(echo ${3} | awk -F. '{print $3"." $2"."$1}')
hostip=$(ip addr list em1 | grep 'inet ' | cut -d ' ' -f 6 | cut -d / -f1)
temp=/tmp.$$
touch $temp
extravars="{\\\"fqdn\\\":\\\"${hostname}.${zone}\\\",\\\"zone\\\":\\\"$zone\\\"}"

if [ "$op" == "add" ]
then
cat > ${temp} <<EOF
server ${server}
key dhcpupdate ${key}
zone ${reversezone}.in-addr.arp
update delete ${reverse}.in-addr.arpa. PTR
update add ${reverse}.in-addr.arpa. 300 IN PTR ${hostname}.${zone}.
send
zone ${zone}
update delete ${hostname}.${zone}. A
update add ${hostname}.${zone}. 300 IN A ${ip}
send
EOF
        nsupdate -v ${temp}
        echo "$*" >> /tmp/dnsmasq.updater.txt
        curl -s -f -k -H 'Content-Type: application/json' -XPOST -d "{\"extra_vars\":\"${extravars}\"}" --user admin:ansible https://{{ tower_server }}:443/api/v1/job_templates/655/launch/
elif [ "$op" == "del" ]
then
cat > ${temp} <<EOF
server ${server}
key dhcpupdate ${key}
zone ${reversezone}.in-addr.arp
update delete ${reverse}.in-addr.arpa. PTR
send
zone ${zone}
update delete ${hostname}.${zone}. A
send
EOF
        nsupdate -v ${temp}
        echo "$*" >> /tmp/dnsmasq.updater.txt
        curl -s -f -k -H 'Content-Type: application/json' -XPOST -d "{\"extra_vars\":\"${extravars}\"}" --user admin:ansible https://{{ tower_server }}:443/api/v1/job_templates/656/launch/
 fi
rm -f ${temp}


