unset OS_SERVICE_TOKEN
export OS_USERNAME=dtaylor
export OS_PASSWORD=CHANGEPASS
export PS1='[\u@\h \W(keystone_dtaylor)]\$ '
export OS_AUTH_URL=http://{{ ansible_default_ipv4['address'] }}:5000/v3
    
export OS_TENANT_NAME=Redhat_Lab
export OS_USER_DOMAIN_NAME=Default
export OS_PROJECT_DOMAIN_NAME=Default
export OS_IDENTITY_API_VERSION=3
