#!/bin/bash
# wget "http://downloads.sourceforge.net/project/drobo-utils/drobo-utils/r0_6_2/drobo-utils-0.6.2.2.tgz?r=http%3A%2F%2Fsourceforge.net%2Fprojects%2Fdrobo-utils%2Ffiles%2Fdrobo-utils%2Fr0_6_2%2F&ts=1352083367&use_mirror=iweb"

PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin

# perma-ban this file
#exit 0

while getopts "d" OPTION
do
  case "$OPTION" in
     # debug
     d) set -x
     ;;
  esac
done

main()
{
    # code goes here
DROBOISCSI="10.55.2.64"
ISCSITARGET=$(iscsiadm --mode discovery --type sendtargets --portal $DROBOISCSI)
DROBODISK="/dev/sd"
DROBOMOUNT="/mnt/drobo_lun_"

echo "acquiring iscsi target $ISCSITARGET on $DROBOISCSI"
iscsiadm --mode node --targetname  $ISCSITARGET  --portal  ${DROBOISCSI}  --login
iscsiadm --mode node -l
exit 0
############
echo "sleeping for 30 SEC"
sleep 30

#for i in c d e f g h i
for i in h
do

        DROBOPART="${DROBODISK}${i}1"
        mount | grep "$DROBOPART" > /dev/null 2>&1

        if [ $? -eq 0 ]
        then
                echo "Drobo already mounted" | logger -t "MountDrobo"
                contine
        fi

        if [ -e ${DROBODISK}${i} ]
        then
                mkdir -p ${DROBOMOUNT}${i}
                mount $DROBOPART ${DROBOMOUNT}${i}
                echo "Drobo device $DROBOPART mounted to ${DROBOMOUNT}${i}" | logger -t "MountDrobo"
        else
                echo "Drobo device $DROBOPART  not found" | logger -t "MountDrobo"
                #exit 1
        fi
done
#mount /dev/sdb1 /mnt/drobo_lun_1
#mount /dev/sdc1 /mnt/drobo_lun_2
#mount /dev/sdd1 /mnt/drobo_lun_3
#mount /dev/sde1 /mnt/drobo_lun_4
#mount /dev/sdf1 /mnt/drobo_lun_5
#mount /dev/sdg1 /mnt/drobo_lun_6
#mount /dev/sdh1 /mnt/drobo_lun_7

}

main
exit 0

