---
newusers:
- newusername: ansiblesvc
  newgroups: "wheel,root"
  # provide path to a public keyfile or paste in the pub key
  public_key: lookup('file', '/home/dataylor/ansiblesvc.pub')
  #public_key: "ssh-rsa AAAAB3Nz ...blah... 03Ug30uAv8= you@there.com"
- newusername: dataylor
  newgroups: "wheel,root"
  # provide path to a public keyfile or paste in the pub key
  public_key: lookup('file', '/home/dataylor/ansiblesvc.pub')
  #public_key: "ssh-rsa AAAAB3Nz ...blah... 03Ug30uAv8= you@there.com"
excluded_from_tty_logging: dataylor
