---
- name: "[builder] Check if we did this already"
  shell: |
    if [ -e "/opt/.builder" ]
    then
      echo "true"
    else
      echo "false"
    fi
  register: buildercheck

- name: "Make a ansible build environment"
  block:
    - name: "[builder] Enable required repos"
      community.general.rhsm_repository:
        name: "{{ builder_repos }}"
        state: enabled
      become: yes

    - name: "[builder] Install required pkgs"
      ansible.builtin.yum:
        name: "{{ builder_pkgs }}"
        state: present
      become: yes

    - name: "[builder] Checkout aap-repo in /opt dir"
      ansible.builtin.git:
        repo: 'https://github.com/syspimp/aap-repo.git'
        clone: yes
        dest: /opt
      become: yes

    - name: "Add to Tower 'builders' inventory group"
      include: add-builder-to-towergroup.yml

    - name: "Add configured ansible.cfg to environments"
      template:
        src: ansible.cfg.j2
        dest: "/opt/execution-environments/{{ item }}/ansible.cfg"
        owner: root
        group: root
        mode: 0755
      become: yes
      loop:
        - hybrid
        - vmware
        - aws
        - azure
        - builder
        - cisco
        - gcp
        - ibm

    - name: "[builder] config complete"
      file:
        path: /opt/.builder
        state: touch
        mode: 0444
      become: yes
  when: buildercheck.stdout == "false"

- name: "[builder] Log into registry.redhat.io"
  shell: |
    podman login -u '{{ SUBUSER }}' -p '{{ SUBPASS }}' registry.redhat.io
  become: yes

- name: "[builder] Log into docker.io"
  shell: |
    podman login -u '{{ DOCKERUSER }}' -p '{{ DOCKERPASS }}' docker.io
  become: yes

