- name: "Installing podman related rpms"
  yum:
    name: "podman"
    state: latest
  become: true

- name: Start splunk container
  containers.podman.podman_container:
    name: so1
    image: docker.io/splunk/splunk:latest
    state: started
    detach: true
    exposed_ports:
      - 8000
    ports:
      - 8000:8000
    volumes: /var/log/remote/:/home/splunk:Z
    restart_policy: "always"
    env:
      SPLUNK_PASSWORD: "{{ tower_pass }}"
      SPLUNK_START_ARGS: "--accept-license"
      SPLUNK_GENERAL_TERMS: "--accept-sgt-current-at-splunk-com"
    generate_systemd:
      path: /tmp/
      restart_policy: always
      stop_timeout: 120
      names: true
      container_prefix: ainer

- name: "Enable firewall services"
  ansible.builtin.firewalld:
    immediate: yes
    port: "{{ item }}"
    state: enabled
    permanent: yes
  loop: 
    - 8000/tcp
  notify:
    - restart firewalld

