---
- name: "merge the two using the hostname as key"
  set_fact:
   final_result: "{{ final_result + [ report_contents + ', ' + item ] }}"
  when:
  - "'{{ item.split(',')[1] }}' in report_contents"
  - "'Id,Host' not in item"
  loop: "{{ configreports.stdout.split('\n') }}"
