---
- name: "tlog check"
  stat:
    path: /opt/.tlogcheck
  register: tlogcheckv

- name: wrapper for installation
  block:
  - name: "Installing terminal logging rpms"
    yum:
      name: tlog
      state: latest
    become: true

  - name: "sssd.conf local config"
    template: 
      src: sssd.conf.j2
      dest: /etc/sssd/sssd.conf 
      owner: root 
      group: root 
      mode: 0600
    become: true
    notify:
      - "restarting sssd service"
      
  - name: "session logging config"
    template: 
      src: sssd-session-recording.conf.j2
      dest: /etc/sssd/conf.d/sssd-session-recording.conf 
      owner: root 
      group: root 
      mode: 0600
    become: true
    notify:
      - "restarting sssd service"

  - name: "terminal logging config"
    template: 
      src: tlog-rec-session.conf.j2
      dest: /etc/tlog/tlog-rec-session.conf 
      owner: root 
      group: root 
      mode: 0644
    become: true
    notify:
      - "restarting sssd service"

  - name: "running authselect to select sssd for authentication"
    shell: |
      authselect select sssd --force
      authselect enable-feature with-files-domain
      authselect enable-feature without-nullok
      authselect apply-changes
    become: true
    notify:
      - "restarting sssd service"

  - name: "tlog install complete"
    file:
      path: "/opt/.tlogcheck"
      state: touch
      mode: 0444
    become: true
  # end of block
  when: tlogcheckv.stat.exists == false
