# Openstack
openshift_cloudprovider_kind=openstack
openshift_cloudprovider_openstack_auth_url={{ openstack.auth }}
openshift_cloudprovider_openstack_username={{ openstack.user }}
openshift_cloudprovider_openstack_password={{ openstack.pass }}
#openshift_cloudprovider_openstack_domain_id=domain_id
#openshift_cloudprovider_openstack_domain_name=domain_name
openshift_cloudprovider_openstack_tenant_id={{ openstack.tenantid }}
openshift_cloudprovider_openstack_tenant_name={{ openstack.tenant }}
openshift_cloudprovider_openstack_region={{ openstack.region }}
openshift_cloudprovider_openstack_lb_subnet_id={{ openstack.subnetid }}
