[Global]
auth-url = {{ openstack.auth }}
username = {{ openstack.user }}
password = {{ openstack.pass }}
tenant-id = {{ openstack.tenantid }}
region = {{ openstack.region }}

[LoadBalancer]
subnet-id = {{ openstack.subnetid }}
