#!/bin/bash
key="{{ dhcp_server_key }}"
server="10.55.102.5"
zone="ose.maskedadmins.com"
op="${1:-op}"
mac="${2:-mac}"
ip="${3:-ip}"
hostname="${4}"
reverse=$(echo ${3} | awk -F. '{print $4"."$3"." $2"."$1}')
reversezone=$(echo ${3} | awk -F. '{print $3"." $2"."$1}')
temp=/tmp.$$
touch $temp
cat > ${temp} <<EOF
server ${server}
key dhcpupdate ${key}
zone ${zone}
update delete ${hostname}.${zone}. A
update add ${hostname}.${zone}. 300 IN A {{ ansible_default_ipv4['address'] }}
send
EOF

if [ "$op" == "add" ]
then
	nsupdate -v ${temp}
	echo "$*" >> /tmp/dnsmasq.updater.txt
 else
	echo "$*" >> /tmp/dnsmasq.updater.txt
 fi
rm -f ${temp}
extravars="{\\\"fqdn\\\":\\\"${hostname}.${zone}\\\",\\\"zone\\\":\\\"$zone\\\"}"
curl -s -f -k -H 'Content-Type: application/json' -XPOST -d "{\"extra_vars\":\"${extravars}\"}" --user admin:ansible https://{{ tower_server }}:443/api/v1/job_templates/655/launch/
