#!/bin/bash -x
chmod +x /opt/bootstrap.py
{% if ansible_distribution_major_version == '8' %}
grep python3 /opt/bootstrap.py || sed -i -e 's/usr\/bin\/python/usr\/bin\/python3/g' /opt/bootstrap.py
#yum install python3 -y
{% endif %}
/opt/bootstrap.py -l {{ sat6['user'] }} -p {{ sat6['pass'] }} \
-s {{ sat6['lb_fqdn'] }} \
-o "{{ sat6['org'] }}" \
-L "{{ sat6['location'] }}" \
-g "{{ sat6['hostgroup'] }}" \
-a {{ sat6['activation_key'] }} \
--force --add-domain --subscription-manager-args="--insecure" --rex --rex-user root --skip puppet
