---
- name: "Check if tang is installed"
  shell: "rpm -qa | grep tang || true"
  args:
    executable: /bin/bash
  register: istanginstalled

- name: "Install tang server to decrypt encrypted block devices"
  yum:
    name: "tang"
    state: "present"
  when: '"tang" not in istanginstalled.stdout'

- name: "Enable tang.socket"
  service:
    name: "tangd.socket"
    state: "started"

- name: "Add firewall rules for tang"
  firewalld:
    service: "http"
    zone: "public"
    permanent: "yes"
    state: "enabled"
  when: '"firewalld" in istanginstalled.stdout'

