---
- name: Configure the server to receive remote input
  ansible.builtin.include_role:
    name: redhat.rhel_system_roles.logging
  vars:
    logging_inputs:
      - name: remote_udp_input
        type: remote
        udp_ports: [ 514 ]
      - name: remote_tcp_input
        type: remote
        tcp_ports: [ 514 ]
    logging_outputs:
      - name: remote_files_output
        type: remote_files
    logging_flows:
      - name: flow_0
        inputs: [remote_udp_input, remote_tcp_input]
        outputs: [remote_files_output]

- name: Fix the umask mode for splunk
  ansible.builtin.lineinfile:
    path: /etc/rsyslog.conf
    regexp: '^global\(umask'
    line: 'global(umask="0000")'
  notify: restart rsyslogd

- name: Fix the file creation mode for splunk
  ansible.builtin.lineinfile:
    path: /etc/rsyslog.d/10-output-files-modules.conf
    regexp: '^module\(load="builtin:omfile'
    line: 'module(load="builtin:omfile" FileCreateMode="0644" DirCreateMode="0755")'
  notify: restart rsyslogd

- name: "Enable firewall services"
  ansible.builtin.firewalld:
    immediate: yes
    port: "{{ item }}"
    state: enabled
    permanent: yes
  loop: 
    - 514/tcp
    - 514/udp
  notify:
    - restart firewalld

- include_tasks: "tower.yml"
