global                                                                                                                                                                                                              
    # log to rsyslog                                                                                                                                                                                                
    log /dev/log local0

                                                     
    chroot      /var/lib/haproxy       
    pidfile     /var/run/haproxy.pid                                
    maxconn     4000
    user        haproxy           
    group       haproxy      
    daemon                     
                                                     
    # turn on stats unix socket
    stats socket /var/lib/haproxy/stats
                                                     
defaults                       
    log                     global
    retries                 3   
    timeout http-request    10s
    timeout queue           1m         
    timeout connect         10s                                     
    timeout client          1m
    timeout server          1m
    timeout http-keep-alive 10s
    timeout check           10s
    maxconn                 3000
                                                                                                          
frontend http                                                                                             
   bind *:80                                                                                                                                                                                                        
   log global                
   option httplog                                                   
   mode http      
   #acl restricted_page path_beg,url_dec -i /api/
   #http-request deny if restricted_page
   #http-request auth unless { http_auth(mycredentials) }                                                                               
   acl is_domain1 hdr(Host) -i -f /etc/haproxy/atlanta-robotics-domains.txt                                                             
   http-request replace-header Host .* gdc-website-gdc-qa-deploy.apps.compute7-sno.tfound.org if is_domain1                                                                                                                                                                     
   default_backend proxy-http
                                                     
backend proxy-http
   option tcp-check
   mode http
   balance roundrobin         
      server 10.55.102.161 10.55.102.161:80 check                   
                   
frontend https     
   bind *:443                                                       
   log global                                                       
   option tcplog                                                    
   mode tcp                                                         
   default_backend proxy-https                                      

backend proxy-https                                                 
   option tcp-check                                                 
   mode tcp                                                         
   balance source                                                   
      server 10.55.102.161 10.55.102.161:443 check-ssl verify none      
