---
- name: Only register if this system hasn't been registered before
  stat:
    path: /etc/insights-client/.registered
  register: unreg

- name: Install Redhat Insights for System Patching and Register
  block:
    - name: Install Red Hat Access Insights Client
      yum: 
        name: insights-client
        state: present
      become: true

    - name: "Register to the Red Hat Access Insights Service"
      command: /usr/bin/insights-client --register
      args:
        creates: /etc/insights-client/.registered
      register: reg_insights
      become: true
      ignore_errors: yes
      retries: 10
      until: reg_insights.rc == 0
      delay: 1
  when: unreg.stat.exists == false and ansible_distribution != "CentOS"
