[Unit]
Description=Zenoss Port Forward
After=minikube.service


[Service]
Type=simple
ExecStart=/usr/bin/nohup /usr/bin/kubectl port-forward service/zenoss4-nginx --address 0.0.0.0 30080:80 -n monitoring
RemainAfterExit=true
StandardOutput=journal
User=root
Group=root

[Install]
WantedBy=multi-user.target

