---
- name: "[Cockpit] Setup check"
  shell: |
    if [ -e "/root/.setup/cockpit-rpms" ]
    then
      echo "true"
    else
      echo "false"
    fi
  register: initialsetup
  become: true

- name: "Block to perform initial setup"
  block:
    - name: "[Cockpit] setup tracking dir, if needed"
      file:
        path: /root/.setup
        state: directory
        mode: 0755

    - name: "Enable cockpit repos"
      shell: |
        subscription-manager repos --enable rhel-7-server-rpms \
                           --enable rhel-7-server-optional-rpms\
                           --enable rhel-7-server-extras-rpms
      become: true
    - name: wrapper for satellite failures
      block:
      - name: "[Cockpit] Installing rpms"
        yum:
          #name: ["cockpit","cockpit-dashboard"]
          name: ["cockpit"]
          state: latest
        become: true
  
      - name: "[Cockpit] Activate!"
        shell:  systemctl enable --now cockpit.socket
        become: true
  
      - name: "[Cockpit] Fix firewall, if installed"
        ignore_errors: yes
        shell:  |
          firewall-cmd --add-service=cockpit --permanent
          firewall-cmd --reload
        become: true
  
      - name: "[Cockpit] update tracking dir"
        file:
          path: /root/.setup/cockpit-rpms
          state: touch
          mode: 0440
  when:
  - initialsetup.stdout == "false"
  - ansible_local['awsroles'] is defined
  - ansible_local['awsroles']['default']['role'] not in ['satellite-capsule','satellite-server','satellite-haproxy','haproxy']
