---
- name: "list the rpms installed"
  shell: rpm -qa
  register: rpmlist

- name: "Installing snmp related rpms"
  yum:
    name: "{{ item }}"
    state: latest
  become: true
  #when: item not in rpmlist.stdout
  loop:
  - net-snmp
  - net-snmp-devel

- name: "Update /etc/snmp/snmpd.conf"
  template:
    src: snmpd.conf.j2
    dest: /etc/snmp/snmpd.conf
    mode: '0644'
  become: true
  notify:
    - "Enable and start snmpd service"

- name: "Restore selinux context on  /etc/snmp/snmpd.conf"
  shell: restorecon /etc/snmp/snmpd.conf
  become: yes

- name: "Start snmpd and firewalld service"
  systemd:
    state: started
    name: "{{ item }}.service"
    enabled: yes
    force: yes
  loop:
    - firewalld
    - snmpd

- name: "Allow port 161/udp in firewalld rules"
  firewalld:
    immediate: yes
    port: 161/udp
    state: enabled
    permanent: yes

- name: "Start snmpd and firewalld service"
  systemd:
    state: restarted
    name: "{{ item }}.service"
    enabled: yes
    force: yes
  loop:
    - firewalld

