- name: restart firewalld
  ansible.builtin.service:
    name: firewalld
    state: restarted
    enabled: true
  become: yes

- name: enable splunk service
  ansible.builtin.service:
    name: logging-splunk
    enabled: true

