#!/bin/bash
# this line requires all of the tang servers to be available, the next requires only 1
cfg=$'{"t":1,"pins":{"tang":[{% for host in tang-servers %}{"url":"http://{{ host.name }}"},{% endfor %}'
export cfg=$(echo $cfg | sed -e "s/},$/}]}}/g")
echo $cfg
