---
- name: "Include roles for AWS servers"
  include_role:
    name: "{{ ansible_local['awsroles']['default']['role'] }}"
  when:
  - ansible_local['awsroles'] is defined
  - ansible_local['awsroles']['default']['role'] != 'None'

- name: "Include secondary roles for AWS servers"
  include_role:
    name: "{{ ansible_local['awsroles']['secondary']['role'] }}"
  when:
  - ansible_local['awsroles']['secondary'] is defined
  - ansible_local['awsroles']['secondary']['role'] != 'None'

#- name: "Include roles for AWS servers"
#  include_role:
#    name: "{{ item }}"
#  loop: "{{ansible_local['awsroles'] }}"
#  when: ansible_local['awsroles'] is defined

