spec:
  template:
    spec:
      containers:
      - name: nginx-ingress-controller
        image: k8s.gcr.io/ingress-nginx/controller
        ports:
         - containerPort: 19132
           hostPort: 19132
           protocol: UDP

