---
- name: grab the minkube rpm from google
  get_url:
    url: https://storage.googleapis.com/minikube/releases/latest/minikube-latest.x86_64.rpm
    dest: /tmp/minikube-latest.x86_64.rpm
    mode: '0440'

#- name: kubectl repo file
#  template:
#    src: kube.repo.j2
#    dest: /etc/yum.repos.d/kube.repo
#  become: yes
#
- name: minikube.service file
  template:
    src: minikube.service.j2
    dest: /etc/systemd/system/minikube.service
  become: yes

- name: install minikube rpm
  shell: yum -y localinstall /tmp/minikube-latest.x86_64.rpm
  become: yes

- name: install kubectl and podman
  yum:
    name: "{{ item }}"
    state: present
  loop:
  - podman
  - kubectl
  become: yes

- name: Reread configs to pick up minikube service
  ansible.builtin.systemd:
    daemon_reload: yes
  become: yes

- name: start minikube service
  service:
    name: minikube
    state: started
    enabled: true
  become: yes
