---
capsule_loadbalancer_fqdn: lb-capsule.prod.maskedadmins.com
sat6_server: ip-11-22-33-182.prod.maskedadmins.com
satellite_version: 6.8
capsules_inventory_group: 81
rh_satellite_user: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          66303665653237346337653462353236326331613164396230396538343936343836646163376231
          6430356164626130633232356439613861646434366135310a353862326361636537303634636439
          66336138623539656133313365303631653330393761303864343636333338363333386539636431
          3333623934326465370a663939333139626661653137346562353634613433303866616564353233
          3366
rh_satellite_pass: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          35616361353738643730646133333835393138633634343536623634386333613534386137336564
          3033343639643532643238396137643331343865303663350a623331336432356262303262653864
          34376633326435326131613833333065643563343162326330396631636336613334616138323238
          6266386466663165380a353531373366666264393366366463333739633437393737393930326639
          6461
rh_satellite_pool_id: !vault |
          $ANSIBLE_VAULT;1.1;AES256
          35643637363233363962313663643461356264613164366561383438353038383366363165653964
          3231363631656137383234356632343463353964393934380a653761306637316162366237666631
          32323936383433353965343331353739336665626632643230306638656437653463663135373338
          3333323330313934350a633965643439323739313637356264633563643065326332346266646262
          63306430373863386535336563323064316138646336623433326438343438643132346334373164
          6634646634333230363338383138643064333230373563653834
