---
#- name: "Check if we are entitled for Satellite Capsule"
#  become: yes
#  shell: "subscription-manager list --consumed"
#  args:
#    executable: /bin/bash
#  ignore_errors: yes
#  register: rhsm_reg
#
#- name: "Try to Entitle to use Satellite 6"
#  block:
#    - name: "Clean up from Sat 6"
#      shell: |
#        subscription-manager remove --all
#        subscription-manager clean
#        [ -e /etc/rhsm/rhsm.conf.kat-backup ] && cp -f /etc/rhsm/rhsm.conf.kat-backup /etc/rhsm/rhsm.conf
#      become: true
#      ignore_errors: true
#
#    - name: "Add Satellite Entitlement to Server"
#      community.general.redhat_subscription:
#        state: present
#        username: "{{ rh_satellite_user }}"
#        password: "{{ rh_satellite_pass }}"
#        pool_ids: "{{ rh_satellite_pool_id }}"
#      become: true
#      register: rhsm_status
#      retries: 10
#      delay: 1
#  when:
#  - "'Red Hat Satellite' not in rhsm_reg.stdout"
#  - "'Employee' not in rhsm_reg.stdout"
#
- name: "Satellite Capsule Setup check"
  shell: |
    if [ -e "/root/.setup/capsule-rpms" ]
    then
      echo "true"
    else
      echo "false"
    fi
  register: initialsetup
  become: true

- name: "Block to perform initial setup"
  block:
    - name: "make setup tracking dir"
      file:
        path: /root/.setup
        state: directory
        mode: 0755
      become: true
  
    # add ourselves to the tower group early
    - include: "tower.yml"

    - name: "Run yum update to avoid a bug. Please wait. SSH to Host and tail /tmp/tower.output for status"
      shell: |
        exec &> >(tee -a /tmp/tower.output)
        yum -y update
      become: true
      register: rebootneeded
      changed_when: rebootneeded.stdout.find("Nothing to do") != -1
      args:
        executable: /bin/bash

    - name: "Perform a yum clean all"
      shell:  yum clean all
      when: rebootneeded.changed | bool == True
      become: true

    - name: "Reboot."
      shell: |
        shutdown -r +1 || true
      become: true
      when: rebootneeded.changed | bool == True
      args:
        executable: /bin/bash

    - name: "Wait 5 to 11 mins for host to reboot"
      wait_for:
        port: 22
        host: "{{ ansible_default_ipv4['address'] }}"
        #host: "{{ ansible_ssh_host | default(inventory_hostname) }}"
        #search_regex: OpenSSH
        delay: 120
        timeout: 660
      delegate_to: localhost
      become: false
      when: rebootneeded.changed | bool == True

    - name: "Disabling all repos"
      shell: "subscription-manager repos --disable='*'"
      become: true
    
#    - name: "Enable satellite-capsule repos"
#      shell: |
#        subscription-manager repos --enable rhel-7-server-rpms \
#                           --enable rhel-server-rhscl-7-rpms \
#                           --enable rhel-7-server-satellite-capsule-{{ satellite_version }}-rpms \
#                           --enable rhel-7-server-satellite-tools-{{ satellite_version }}-rpms \
#                           --enable=rhel-7-server-satellite-maintenance-6-rpms \
#                           --enable=rhel-7-server-ansible-2.9-rpms 
#      become: true
    
    - name: "Enable satellite-capsule repos"
      shell: |
        subscription-manager repos \
                           --enable satellite-capsule-{{ satellite_version }}-for-rhel-8-x86_64-rpms \
                           --enable satellite-6.11-for-rhel-8-x86_64-rpms \
                           --enable satellite-maintenance-6.11-for-rhel-8-x86_64-rpms \
                           --enable=ansible-2.9-for-rhel-8-x86_64-rpms \
                           --enable=rhel-8-for-x86_64-appstream-rpms \
                           --enable=rhel-8-for-x86_64-baseos-rpms
      become: true
    
    - name: "Enable satellite-capsule dnf module"
      shell: |
        dnf module reset postgresql -y
        dnf module reset ruby -y
        dnf module enable satellite-capsule:el8 postgresql:12 ruby:2.7 -y
      become: true

#    - name: "Enable satellite-capsule dnf module"
#      ansible.builtin.dnf:
#        name: '@satellite-capsule:el8'
#        state: present
#      become: true

    - name: "Installing satellite-capsule rpms"
      yum:
        name: ['satellite-capsule']
        #name: ['satellite-capsule','katello-agent']
        #name: ['satellite-capsule','policycoreutils-python']
        state: latest
      become: true

#    - name: "Enable and start goferd"
#      service:
#        name: goferd
#        enabled: yes
#        state: started
#      become: true

    - name: "rpms complete"
      file:
        path: /root/.setup/capsule-rpms
        state: touch
        mode: 0444
      become: true

  when: initialsetup.stdout == "false"

- name: "Satellite Capsule Setup check"
  shell: |
    if [ -e "/root/.setup/capsule-configed" ]
    then
      echo "true"
    else
      echo "false"
    fi
  register: capsulesetup
  become: true


- name: "Block to perform satellie-capsule setup"
  block:
    - name: "Get short hostname"
      shell: |
        hostname --short
      register: shortname
    
    - name: "Set the short hostname fact"
      set_fact:
        shorthostname: "{{ shortname.stdout }}"

    - name: "Find Group Inventory for 'satellite-server'"
      uri:
        url: "https://{{ tower_server }}/api/v2/groups/?search=satellite-server"
        validate_certs: no
        method: GET
        user: "{{ tower_user }}"
        password: "{{ tower_pass }}"
        force_basic_auth: yes
        status_code: [200,202,204]
        body_format: json
      register: groupidcheck

    - name: "Set the host_id fact"
      set_fact:
        satgroup_host_id: "{{ groupidcheck.json.results[0].id }}"
  
    - name: "Find the name of the satellite-server"
      uri:
        url: "https://{{ tower_server }}/api/v2/groups/{{ satgroup_host_id }}/hosts"
        validate_certs: no
        method: GET
        user: "{{ tower_user }}"
        password: "{{ tower_pass }}"
        force_basic_auth: yes
        status_code: [200,202,204]
        body_format: json
      register: hostidcheck
  
    - name: "Set the sat6_hosturl fact"
      set_fact:
        sat6_hosturl: "{{ hostidcheck.json.results[0].related.variable_data }}"

    - name: "Find the ip of the satellite-server"
      uri:
        url: "https://{{ tower_server }}/{{ sat6_hosturl }}"
        validate_certs: no
        method: GET
        user: "{{ tower_user }}"
        password: "{{ tower_pass }}"
        force_basic_auth: yes
        status_code: [200,202,204]
        body_format: json
      register: hostipcheck

    - name: "debug the sat6 facts"
      debug:
        var: hostipcheck

    - name: "Wait 15 mins for the satellite server to become alive"
      ansible.builtin.wait_for:
        port: 80
        host: "{{ hostipcheck.json.ansible_host }}"
        delay: 2
        timeout: 900
      delegate_to: localhost
      become: false

    - name: "Set the host_id fact"
      set_fact:
        sat6_server: "{{ hostidcheck.json.results[0].name }}"

    - name: "Get fqdn for the satellite server"
      shell: |
        hostname --fqdn
      register: fqdnname
      delegate_to: "{{ sat6_server }}"
    
    - name: "Set the fqdn hostname fact"
      set_fact:
        sat6_fqdn: "{{ fqdnname.stdout }}"

    - name: "Generate the capsule certs"
      shell: |
        capsule-certs-generate \
        --foreman-proxy-fqdn {{ shorthostname}}.{{ dns_domain }} \
        --certs-tar "/var/www/html/pub/{{ shorthostname}}.{{ dns_domain }}-certs.tar" \
        --foreman-proxy-cname {{ sat6['lb_fqdn'] }}
      become: true
      register: certoutput
      delegate_to: "{{ sat6_server }}"
      # logically I want this, but if it already exists
      # this task will not run, breaking the playbook
      #args:
      #  creates: "/var/www/html/pub/{{ ansible_fqdn }}-certs.tar"
    
    - name: "Set selinux context on cert tar file"
      shell: |
        restorecon /var/www/html/pub/{{ shorthostname}}.{{ dns_domain }}-certs.tar
      become: true
      delegate_to: "{{ sat6_server }}"
    
    - name: "Wait for httpd to start on the Satellite Server"
      wait_for:
        port: 80
        host: "{{ sat6_fqdn }}"
        delay: 5
        timeout: 7200
      become: false

    - name: "Grab certs from the sat server"
      get_url:
        url: "http://{{ sat6_fqdn }}/pub/{{ shorthostname}}.{{ dns_domain }}-certs.tar"
        dest: "/root/{{ shorthostname}}.{{ dns_domain }}-certs.tar"
      become: yes
      #register: grabcerts
      retries: 3600
      #until: grabcerts.rc == 0
      delay: 10

    - name: "Set the oauth facts"
      set_fact:
        oauth_consumer_key: "{{ item.split('\"')[1] }}"
      when: "'oauth-consumer-key' in item"
      with_items: "{{ certoutput.stdout_lines }}"

    - name: "Set the oauth facts"
      set_fact:
        oauth_consumer_secret: "{{ item.split('\"')[1] }}"
      when: "'oauth-consumer-secret' in item"
      with_items: "{{ certoutput.stdout_lines }}"

    - name: "Run the satellite-installer ... takes 20 mins"
      shell: |
        satellite-installer \
                    --scenario capsule \
                    --certs-tar-file                              "/root/{{ shorthostname}}.{{ dns_domain }}-certs.tar"\
                    --foreman-proxy-register-in-foreman           "true"\
                    --foreman-proxy-foreman-base-url              "https://{{ sat6_fqdn }}"\
                    --foreman-proxy-trusted-hosts                 "{{ sat6_fqdn }}"\
                    --foreman-proxy-trusted-hosts                 "{{ shorthostname}}.{{ dns_domain }}"\
                    --foreman-proxy-oauth-consumer-key            "{{ oauth_consumer_key }}"\
                    --foreman-proxy-oauth-consumer-secret         "{{ oauth_consumer_secret }}"\
                    --certs-cname                              "{{ sat6'lb_fqdn'] }}" \
                    --no-enable-puppet \
                    --foreman-proxy-puppet false \
                    --foreman-proxy-puppetca false \
                    --enable-foreman-proxy-plugin-remote-execution-ssh \
                    --enable-foreman-proxy-plugin-ansible \
                    --enable-foreman-proxy-plugin-openscap && \
                    touch /opt/.sat-install-finished

      become: true
      args:
        creates: /opt/.sat-install-finished



    - name: "make sure we are registered to the satellite server"
      shell:
        subscription-manager config | grep 'hostname = \[subscription.rhsm.redhat.com\]' || true
      register: bootstrap
      become: true
      
    - name: "Unregister from the redhat cdn"
      shell:
        subscription-manager unregister && \
        subscription-manager clean
      when: "'subscription.rhsm.redhat.com' in bootstrap.stdout"
      become: true

    - name: "Install the katello certificate"
      shell:
        rpm -Uvh --force http://{{ sat6_fqdn }}/pub/katello-ca-consumer-latest.noarch.rpm
      when: "'subscription.rhsm.redhat.com' in bootstrap.stdout"
      become: true

    - name: "Re-run subscription-manager"
      shell:
        subscription-manager register --org="{{ sat6['org'] }}" --activationkey="{{ sat6['activation_key'] }}"
      when: "'subscription.rhsm.redhat.com' in bootstrap.stdout"
      register: subscribed
      retries: 10
      until: subscribed.rc == 0
      delay: 60
      become: true

    - name: "Fix the selinux context for /opt"
      shell:
        restorecon -vR /opt/*
      become: true

    - name: "Disable firewall"
      service:
        name: "firewalld"
        state: "stopped"
        enabled: no
      become: true

    - name: "Reboot."
      shell: |
        shutdown -r +1 || true
      become: true
      args:
        executable: /bin/bash

    - name: "Wait 5 to 11 mins for host to reboot"
      wait_for:
        port: 22
        host: "{{ shorthostname}}.{{ dns_domain }}"
        #host: "{{ ansible_ssh_host | default(inventory_hostname) }}"
        #search_regex: OpenSSH
        delay: 300
        timeout: 660
      delegate_to: localhost
      become: false

    - name: "Find the id to the capsules/proxies"
      shell: |
       hammer capsule list | grep 'Container_Gateway' | grep '{{ shorthostname }}' | awk '{ print $1 }'
      become: true
      delegate_to: "{{ sat6_server }}"
      register: capsulelist

    - name: "Add lifecyles to the capsule"
      shell:
        hammer capsule content add-lifecycle-environment --id {{ capsulelist.stdout | trim }} --organization {{ sat6['org'] }} --lifecycle-environment {{ item }}
      become: true
      ignore_errors: yes
      delegate_to: "{{ sat6_server }}"
      loop:
      - "production"
    
    - name: "Synchronize the content to the capsule/proxy"
      shell: |
        hammer capsule content synchronize --id {{ capsulelist.stdout | trim }} --async
      become: true
      ignore_errors: yes
      delegate_to: "{{ sat6_server }}"
    
    - name: "capsule config complete"
      file:
        path: /root/.setup/capsule-configed
        state: touch
        mode: 0444
      become: true
  when: capsulesetup.stdout == "false"

  rescue:
  - name: "Failure"
    debug:
      msg: "There is no satellite server. Run again after setting up the Satellite Server"

- name: "Enable proxyied services"
  firewalld:
    immediate: yes
    port: "{{ item.port }}/{{ item.mode }}"
    state: enabled
    permanent: yes
  loop: "{{ satellite_services }}"

