- name: debug
  debug:
    var: "{{ pproducts.repoids|dict2items }}"

- name: "Enable {{ pproducts.name }} repositories"
  redhat.satellite.repository_set:
    username: "{{ sat6_user }}"
    password: "{{ sat6_pass }}"
    server_url: "{{ sat6_url }}"
    validate_certs: no
    name: "{{ item.name }}"
    product: "{{ pproducts.name }}"
    repositories: "{{ item|list }}"
    organization: "{{ sat6.default_org }}"
    state: enabled
  loop: "{{ pproducts.repoids|dict2items }}"

- name: "Sync {{ repo }} repository"
  redhat.satellite.repository_sync:
    username: "{{ sat6_user }}"
    password: "{{ sat6_pass }}"
    server_url: "{{ sat6_url }}"
    validate_certs: no
    repository: "{{ item.name }}"
    product: "{{ pproducts.name }}"
    organization: "{{ sat6.default_org }}"
  loop: "{{ pproducts.repoids }}"

- name: "set fact for content view"
  vars:
    name: "{{ item.name }}"
    product: "{{ pproducts.name }}"
  set_fact:
    contentviewpush: "{{ contentviewpush | combine({'name': name,'product': product}) }}"
  loop: "{{ pproducts.repoids }}"

- name: "Create RHEL ContentView"
  redhat.satellite.content_view:
    username: "{{ sat6_user }}"
    password: "{{ sat6_pass }}"
    server_url: "{{ sat6_url }}"
    validate_certs: no
    name: "{{ sat6.content_view }}"
    repositories: "{{ contentviewpush }}"
    organization: "{{ sat6.default_org }}"
    state: present

