- name: "Enable {{ products.name }} repositories"
  redhat.satellite.repository_set:
    username: " {{ sat6_environment_vars.SATELLITE_USERNAME }}"
    password: "{{ sat6_environment_vars.SATELLITE_PASSWORD }}"
    server_url: "{{ sat6_environment_vars.SATELLITE_SERVER_URL }}"
    validate_certs: no
    name: "{{ item.name }}"
    product: "{{ products.name }}"
    repositories: "{{ item }}"
    organization: "{{ sat6.default_org }}"
    state: enabled
  loop: "{{ products.repoids }}"

- name: "Sync {{ repo }} repository"
  redhat.satellite.repository_sync:
    username: " {{ sat6_environment_vars.SATELLITE_USERNAME }}"
    password: "{{ sat6_environment_vars.SATELLITE_PASSWORD }}"
    server_url: "{{ sat6_environment_vars.SATELLITE_SERVER_URL }}"
    validate_certs: no
    repository: "{{ item.name }}"
    product: "{{ products.name }}"
    organization: "{{ sat6.default_org }}"
  loop: "{{ products.repoids }}"

- name: "set fact for content view"
  vars:
    name: "{{ item.name }}"
    product: "{{ products.name }}"
  set_fact:
    contentviewpush: "{{ contentviewpush | combine({'name': name,'product': product}) }}"
  loop: "{{ products.repoids }}"

- name: "Create RHEL ContentView"
  redhat.satellite.content_view:
    username: " {{ sat6_environment_vars.SATELLITE_USERNAME }}"
    password: "{{ sat6_environment_vars.SATELLITE_PASSWORD }}"
    server_url: "{{ sat6_environment_vars.SATELLITE_SERVER_URL }}"
    validate_certs: no
    name: "{{ sat6.content_view }}"
    repositories: "{{ contentviewpush }}"
    organization: "{{ sat6.default_org }}"
    state: present

