---
- name: "AAP Inventory Group Setup check"
  shell: |
    if [ -e "/root/.setup/tower-configed" ]
    then
      echo "true"
    else
      echo "false"
    fi
  register: towersetup
  become: true

- name: "Block to add to AAP group inventory"
  block:
    - name: "Get host id to add to the 'monitoring' Group Inventory"
      uri:
        url: "https://{{ tower_server }}/api/v2/hosts/?name={{ inventory_hostname }}"
        validate_certs: no
        method: GET
        user: "{{ tower_user }}"
        password: "{{ tower_pass }}"
        force_basic_auth: yes
        status_code: [200,202,204]
        body_format: json
      register: hostidcheck

    - name: "Set the host_id fact"
      set_fact:
        host_id: "{{ hostidcheck.json.results[0].id }}"

    - name: "Find Group Inventory for '{{ aap_group_name }}'"
      uri:
        url: "https://{{ tower_server }}/api/v2/groups/?search={{ aap_group_name }}"
        validate_certs: no
        method: GET
        user: "{{ tower_user }}"
        password: "{{ tower_pass }}"
        force_basic_auth: yes
        status_code: [200,202,204]
        body_format: json
      register: groupidcheck

    - name: "Set the host_id fact"
      set_fact:
        group_id: "{{ groupidcheck.json.results[0].id }}"

    - name: "Add host to the '{{ aap_group_name }}' Group Inventory"
      uri:
        url: "https://{{ tower_server }}/api/v2/groups/{{ group_id }}/hosts/"
        validate_certs: no
        method: POST
        body: >
          {
             "id": {{ host_id }}
          }
        user: "{{ tower_user }}"
        password: "{{ tower_pass }}"
        force_basic_auth: yes
        status_code: [201,202,204]
        body_format: json

    - name: "tower config complete"
      file:
        path: /root/.setup/tower-configed
        state: touch
        mode: 0444
      become: yes
  when: towersetup.stdout == "false"
