---
- name: "Check if nfs-utils is installed"
  shell: "rpm -qa | grep nfs-utils || true"
  args:
    executable: /bin/bash
  register: isnfsinstalled

- name: "Install nfs-utils"
  yum:
    name: "nfs-utils"
    state: "present"
  when: '"nfs-utils" not in isnfsinstalled.stdout'

- name: "Create the nfs mount point"
  file:
    path: "{{ nfs_mountpoint }}"
    mode: '0777'
    state: directory
  become: yes

- name: "Update /etc/exports"
  template:
    src: exports.j2
    dest: /etc/exports
    mode: '0600'
  become: yes

- name: "Installing selinux related rpms"
  yum:
    name: "{{ item }}"
    state: latest
  become: true
  ignore_errors: yes
  when: '"policycoreutils-python" not in isnfsinstalled.stdout'
  loop:
  - policycoreutils-python-utils
  - policycoreutils-python

- name: "Enable selinxux contexts/flags for nfs rw"
  shell: |
   setsebool -P nfs_export_all_rw 1
  become: yes

- name: "Enable selinxux contexts/flags for nfs ro"
  shell: |
   setsebool -P nfs_export_all_ro 1
  become: yes
 
- name: "Add selinxux contexts/flags for nfs mountpoint"
  shell: |
   semanage fcontext -a -t public_content_rw_t  "{{ nfs_mountpoint }}(/.*)?"
  become: yes
 
- name: "Set context for selinxux contexts/flags for nfs mountpoint"
  shell: |
   restorecon -R {{ nfs_mountpoint }}
  become: yes
 
- name: "Enable and start nfs services"
  service:
    name: "{{ item }}"
    state: running
    enabled: yes
  become: yes
  loop:
  - rpcbind
  - nfs-lock
  - nfs-idmap
  - nfs-server
